
*.config
*.vsidx
*.dll
*.pdb
*.config
WebService/.vs/WebService/v16/.suo
*.dll
*.config
*.pdb
*.cache
*.cache
*.dll
*.pdb
*.config
*.cache
WebService/bin/WebService.dll.config
WebService/.vs/WebService/v16/.suo
*.suo
WebService/Web.config
